
@{
    ViewBag.Title = "فعالسازی حساب کاربری";
}

<h3>@ViewBag.Title</h3>
<hr />
<div class="alert alert-success">
    <h4>@ViewBag.UserName عزیز</h4>
    <br/>
    <p>حساب کاربری شما با موفقیت فعال شد. جهت ورود به سایت روی <a href="/Login" class="btn btn-sm btn-info">لینک ورود</a> کلیک کنید</p>
</div>
