@model MalaaviMVC_DomainClasses.Users.User
@{
    ViewBag.Title = "تکمیل بازیابی رمز عبور";
}


<div class="alert alert-success">
    <h3>@Model.UserName!!! ایمیلی حاوی لینک تغییر رمز عبور به ایمیل شما ارسال شد. </h3>
    <br />
    <p>لطفا به ایمیل '@Model.Email' مراجعه کنید و بر روی تغییر رمز عبور کلیک کنید.</p>
</div>