@model MalaaviMVC_DomainClasses.Users.User

@{
    ViewBag.Title = "تایید ایمیل";
}

<div class="alert alert-success">
    <h3>@Model.UserName عزیز! ایمیلی حاوی کد فعالسازی به ایمیل شما ارسال شد.</h3>
    <br/>
    <p>جهت فعال شدن حساب کاربری خود به ایمیل @Model.Email مراجعه کنید و بر روی لینک فعالسازی کلیک کنید.</p>
</div>

